.auth {
    margin: 3rem auto;
    width: 95%;
    max-width: 25rem;
    border-radius: 11px;
    background-color: rgb(44, 44, 44);
    box-shadow: 0 1px 4px rgb(0, 0, 0.2);
    padding-top: 1.5rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    text-align: center;
}

.auth p {
    opacity: 1;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: " 2rem";
}

.auth h1 {
    background-color: rgb(44, 44, 44);
    text-align: center;
    color: white;
    margin-bottom: 0;
    font-size: 29px;
}
.control {
    margin-bottom: 0.5rem;
}
.control label {
    display: block;
    color: white;
    margin-bottom: 0.5rem;
    text-align: left;
}

.control input {
    font: inherit;
    background-color: transparent;
    color: white;
    border-radius: 4px;
    border: 1.5px solid white;
    width: 100%;
    text-align: left;
    padding: 0.3rem;
    margin-bottom: 0.2rem;
}

.control input:focus {
    outline: none !important;
    border: 1.5px solid rgba(37, 117, 252, 1);
}

.actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actionButton {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: transparent;
    border: 2px solid rgba(37, 117, 252, 1);
    border-radius: 5px;
    padding: 0.5rem 1.5rem;
}

.actionButton:hover {
    border-color: rgba(106, 17, 203, 1);
}

.actions p {
    opacity: 1;
    color: rgba(255, 255, 255);
    margin-bottom: " 2rem";
}

.actionToggle {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.502);
    font-size: 16px;
    text-decoration: none;
    background: transparent;
    border: none;
}

/* body {
    background: linear-gradient(
        to right,
        rgba(106, 17, 203, 1),
        rgba(37, 117, 252, 1)
    );

    color: white;
} */